html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 1px;
}
